streamlit
requests
pandas
gseapy
cooltools
scipy
plotly
gprofiler-official
statsmodels
scikit-learn
numpy
seaborn
biopython
xmltodict
lxml
psycopg2-binary
sqlalchemy
scanpy
pysam
cooler
squidpy
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.5.3 # not directly required, pinned by Snyk to avoid a vulnerability
