streamlit
requests
pandas
gseapy
cooltools
scipy
plotly
gprofiler-official
statsmodels
scikit-learn
numpy
seaborn
biopython
xmltodict
lxml
psycopg2-binary
sqlalchemy
scanpy
pysam
cooler
squidpy
aiohttp>=3.13.3 # not directly required, pinned by Snyk to avoid a vulnerability
